body,
html {
  font-family: 'SF Mono', 'Monaco', monospace;
  font-size: 14px;
}

body {
  margin: 10rem;
}

pre {
  padding: 1rem;
  background: #f7f7f7;
}

h1 {
  position: relative;
}

h1::before {
  content: '#';
  display: block;
  position: absolute;
  top: 0;
  left: -2rem;
  font-size: 1rem;
  font-weight: 500;
}
